@page "/SecretaryTeacher"
@using WebApplication.Models
@using WebApplication.Authentication
@using WebApplication.Data
@using WebApplication.NetworkPackages
@using System.Text.Json
@inject IJSRuntime JSRuntime

<head>
    <link rel="stylesheet" href="css/overallTheme.css">
</head>

<div class="blue-border container">
    <br>
    <div class="row">
        <div class="col">
            <h3 class="center-horiz">Create Teacher</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3 center-horiz form-group">
            <label for="fname">First name:</label>
            <input type="text" class="form-control" id="fname" placeholder="Adam" @bind="@createTeacherFirstName">
        </div>
        <div class="col-3 center-horiz form-group">
            <label for="lname">Last name:</label>
            <input type="text" class="form-control" id="lname" placeholder="Adam" @bind="@createTeacherLastName">
        </div>
        <div class="col-3 center-horiz form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="********" @bind="@createTeacherPassword">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col center-horiz">
            <button class="btn btn-default btn-success" @onclick="CreateTeacher" disabled="@TeacherCreationBool()">Create Teacher</button>
        </div>
    </div>
    <br>
</div>

<div class="container blue-border" style="margin-top: 3em">
    <br>
    <div class="row">
        <div class="col">
            <h3 class="center-horiz">Edit Teacher</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col center-horiz">
            <label for="selectTeacher">Select Teacher:</label>
            <select class="form-control" id="selectTeacher" @bind="@selectedTeacherAsString">
                <option value="" selected disabled hidden>Choose teacher...</option>
                @foreach (Teacher teacher in secretary.Teachers)
                {
                    string teacherAsString = JsonSerializer.Serialize(teacher);
                    <option value="@teacherAsString">@teacher.Id - @teacher.FirstName @teacher.LastName</option>
                }
            </select>
            <button class="btn btn-default btn-danger" style="margin-left: 1em" @onclick="DeleteTeacher" disabled=@teacherIsSelected()>Delete Teacher</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col center-horiz form-group">
            <label for="password2">Password:</label>
            <input type="password" class="form-control" id="password2" placeholder="********" @bind="@editedTeacherPassword">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col center-horiz">
            <button class="btn btn-default btn-primary" @onclick="EditTeacher" disabled="@TeacherEditBool()">Edit Teacher</button>
        </div>
    </div>
    <br>
</div>

<br>
<p class="center-horiz" style="color: #ff0000">@ErrorLabel</p>

@code {
    Secretary secretary = CustomAuthenticationStateProvider.CachedSecretary;
    ISecretaryService SecretaryService = new SecretaryService();
    string ErrorLabel;

    //Regarding creating a teacher
    string createTeacherFirstName;
    string createTeacherLastName;
    string createTeacherPassword;

    //Regarding editing a teacher
    Teacher selectedTeacher;
    string selectedTeacherAsString;
    string editedTeacherPassword;

    void ResetCreateFields()
    {
        createTeacherFirstName = "";
        createTeacherLastName = "";
        createTeacherPassword = "";
    }
    
    void ResetEditFields()
    {
        editedTeacherPassword = "";
    }

    bool TeacherCreationBool()
    {
        return !(createTeacherFirstName != null && createTeacherLastName != null && createTeacherPassword != null);
    }

    bool TeacherEditBool()
    {
        return (editedTeacherPassword == null);
    }

    bool teacherIsSelected()
    {
        return (selectedTeacherAsString == null);
    }

    async Task CreateTeacher()
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to create this teacher?")) return;
        NetworkPackage package = await SecretaryService.CreateTeacher(createTeacherFirstName, createTeacherLastName, createTeacherPassword);
        if (package != null)
        {
            SecretaryDataPackage secretaryDataPackage = (SecretaryDataPackage) package;
            CustomAuthenticationStateProvider.CachedSecretary = secretaryDataPackage.data;
            secretary = secretaryDataPackage.data;
            ResetCreateFields();
            ErrorLabel = "";
        }
        else if (package == null)
        {
            Console.WriteLine("BAD REQUEST - CREATE TEACHER");
            ErrorLabel = "There was an error";
        }
    }

    async Task EditTeacher()
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to edit this teacher?")) return;
        selectedTeacher = JsonSerializer.Deserialize<Teacher>(selectedTeacherAsString);
        NetworkPackage package = await SecretaryService.EditTeacher(selectedTeacher.Id, editedTeacherPassword);
        if (package != null)
        {
            SecretaryDataPackage secretaryDataPackage = (SecretaryDataPackage) package;
            CustomAuthenticationStateProvider.CachedSecretary = secretaryDataPackage.data;
            secretary = secretaryDataPackage.data;
            ResetEditFields();
            ErrorLabel = "";
        }
        else if (package == null)
        {
            Console.WriteLine("BAD REQUEST - EDIT TEACHER");
            ErrorLabel = "There was an error";
        }
    }

    async Task DeleteTeacher()
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this teacher?")) return;
        selectedTeacher = JsonSerializer.Deserialize<Teacher>(selectedTeacherAsString);
        NetworkPackage package = await SecretaryService.DeleteTeacher(selectedTeacher.Id);
        Console.WriteLine(selectedTeacher.Id);
        if (package != null)
        {
            SecretaryDataPackage secretaryDataPackage = (SecretaryDataPackage) package;
            CustomAuthenticationStateProvider.CachedSecretary = secretaryDataPackage.data;
            secretary = secretaryDataPackage.data;
            ErrorLabel = "";
        }
        else if (package == null)
        {
            Console.WriteLine("BAD REQUEST - DELETE TEACHER");
            ErrorLabel = "There was an error";
        }
    }
}